schermacastelfrancoveneto/data/login.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.schermacastelfranco.com" targetNamespace="http://www.schermacastelfranco.com" elementFormDefault="qualified">

<xs:element name="login" type="tipo-login"/>
<xs:complexType name="tipo-login">
	<xs:sequence>
		<xs:element name="username" type="xs:string" />
		<xs:element name="password" type="xs:string" />
	</xs:sequence>
</xs:complexType>


